.collection__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.nfts__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}